<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivan.fgwallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHft3WtGeuGR4zQTsn9G3cftyAdYJRbs8" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewWalletActivtiy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RestoreWalletActivtiy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SmsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InvestmentActivtiy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WithdrawActivtiy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendBtcActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReciveActivtiy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScannerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChangePasswordActivtiy"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecoveryPhraseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecoveryPhraseActivity1"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecoveryPhraseActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecoveryPhraseSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecoveryPhraseSettingActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ContactSupportActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".EnterPinActivtiy"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChangeLanguageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".EnterRecoveryPhraseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TransactionDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".VerifyBlockChainActivity"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a08e99a4ff127c000a587b50b8fdeb329b52d2b3" />
    </application>

</manifest>